body{
  background-color: #121212;
  font-family: Helvetica;
  color:cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}
#main-content{
  max-width: 1000px;
}
header{
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header h1{
  width: 33.33%;
  height: 100%;
  margin: 0;
  padding: 0;
}
header h1 button{
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #121212;
  color: cornsilk;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
#about-button{
  background-color: #5d1916;
  border-bottom: none;
}
figure{
  border: #121212;
  border-width: 8px;
  border-style: solid;
}
figure img{
  width: 100%;
  height: fit-content;
  padding: 0%;
  margin: 0;
}
#about{
  display: grid;
  grid-gap: 0;
  grid-template-areas: "a"
                       "b"
                       "c";
}
#cost-card{
  grid-area: a;
}
#time-card{
  grid-area: b;
}
#flavor-card{
  grid-area: c;
}
#about figcaption{
  display: none;
}
#about div{
  display: grid;
  grid-template-areas: "a a"
                       "b c";
  width: 100%;
}
#about div h3{
  margin-top: 0;
  grid-area: a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5d1916;
  font-size: 24px;
  padding: 12px;
}
#about div figure{
  grid-area: b;
  height: 80%;
  width: 300px;
}
#about div figure img{
  width: 100%;
  height: 100%;
}
#about .about-card-text{
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#brewing-variables{
  background-color: #5d1916;
  height: 95vh;
  display: none;
 
  grid-template-areas: "h"
                       "ah"
                       "a"
                       "bh"
                       "b"
                       "c"
                       "d";
}

#brewing-variables figure img{
  width: 100%;
  height: fit-content;
}
#brewing-variables h3{
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#category-header{
  grid-area: ah;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#brewing-variables #infuse-v-perc{
  background-color: #121212;
  grid-area: a;
  display: flex;
  flex-direction: row;
}
#brewing-variables #infuse-v-perc figure{
  width: 25%;
  height: fit-content;
  align-self: center;
}
#brewing-variables #infuse-v-perc p{
  width: 50%;
  align-self: center;
}
#extract-header{
  grid-area: bh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#brewing-variables #extract-overview{
  background-color: #121212;
  grid-area: b;
  display: flex;
  flex-direction: row;
}
#brewing-variables #extract-overview figure{
  width: 50%;
  height: fit-content;
  align-self: center;
}
#extract-overview figure figcaption{
  display: none;
}
#extract-p-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#brewing-variables #var-menu{
  grid-area: c;
  background-color: #5d1916;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#var-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#var-button-container button{
  width: 20%;
  background-color: #310306;
  color: cornsilk;
  height: 32px;
}
#brewing-variables #var-display{
  grid-area: d;
  height: 90vh;
}
#grind{
  display: grid;
  grid-template-areas: "h1"
                       "h2"
                       "p"
                       "f";
}
#grind h1{
  grid-area: h1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 32px;
}
#grind h2{
  grid-area: h2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#grind-p-container{
  grid-area: p;
  width: 90%;
  padding: 5%;
}
#grind-fig-container{
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  align-items: center;
}
#grind figure{
  width: 40%;
  height: fit-content;
}
#dose{
  display: grid;
  grid-template-areas: "h"
                       "t"
                       "a"
                       "b";
}
#dose h1 {
  grid-area: h;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#dose h2{
  grid-area: t;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#dose #dose-consistent{
  grid-area: a;
  width: 90%;
  padding: 5%;
}
#dose #dose-flavor{
  grid-area: b;
  width: 90%;
  padding: 5%;
}
#time{
  display: grid;
  grid-template-areas: "h"
                       "t"
                       "a"
                       "b"
                       "c";
}
#time h1 {
  grid-area: h;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#time h2{
  grid-area: t;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#time-p-a{
  grid-area: a;
  width: 90%;
  padding: 5%;
}
#time-p-b{
  grid-area: b;
  width: 90%;
  padding: 5%;
}
#time-p-c{
  grid-area: c;
  width: 90%;
  padding: 5%;
}
#temperature{
  display: grid;
  grid-template-areas: "h"
                       "t"
                       "a";
}
#temperature h1 {
  grid-area: h;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#temperature h2{
  grid-area: t;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#temperature p{
  grid-area: a;
  width: 90%;
  padding: 5%;
}
#ingredients{
  height: fit-content;
  display: grid;
  grid-template-areas: "h h h"
                       "a b c";
}
#ingredients header{
  width: 100%;
  grid-area: h;
  display: flex;
  flex-direction: column;
}
#ingredients header h1{
  width: fit-content;
  margin-top: 5em;
  font-size: 32px;
  align-self: center;
  margin-bottom: 0;
}
#ingredients header h2{
  font-size: 24px;
  align-self: center;
}
#ingredients header h3{
  font-size: 6px;
  align-self: end;
}

#ingredients #whole-bean{
  background-color: #310306;
  grid-area: a;
}
#ingredients #whole-bean figure{
  margin-top: 20%;
  margin-bottom: 20%;
  
}
#ingredients #water{
  background-color: #5d1916;
  grid-area: b;
}
#ingredients #additives{
  background-color: #7c0A02;
  grid-area: c;
}
#ingredients #additives figure{
  margin-top: 24px;
  margin-bottom: 24px;
}
#ingredients div{
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}
#ingredients div h4{
  margin-top: 48px;
  font-size: 20px;
  align-self: center;
}
#ingredients div p{
  padding: 24px;
}
#method{
  display: none;
}
#method h1{
  margin-top: 0;
  margin-bottom: 0;
  background-color: #5d1916;
  font-size: 32px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#method #descriptions{
  display: flex;
  flex-direction: row;
}
#descriptions button{
  background-color: #310306;
  color: cornsilk;
  padding: 5px;
  width: 25%;
}
#recipe div{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#recipe li{
  width: 100%;
}
#recipe figure{
  width: fit-content;
  height: fit-content;
}
#recipe img{
  width: 200px;
  height: fit-content;
}
#recipe p{
  padding-left: 24px;
}