/* background-color: #59260b; */
body{
  background-color: #121212;
  font-family: Cambria;
  color:cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-content{
  max-width: 1000px;
}
header{
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header h1{
  width: 33.33%;
  height: 100%;
  margin: 0;
  padding: 0;
}
header h1 button{
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #121212;
  color: cornsilk;
  border-top: none;
  border-left: none;
  border-radius: 10px;
}
#about-button{
  background-color: #310306;
  border-bottom: none;
}
figure{
  border: #121212;
  border-width: 8px;
  border-style: solid;
}
figure img{
  width: 100%;
  height: fit-content;
  padding: 0%;
  margin: 0;
}
#about{
  height: 90vh;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas: "h"
                       "a"
                       "b"
                       "c";
}
#about h1{
  grid-area: h;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
}
#about div{
  background-color: #310306;
  display: flex;
  flex-direction: row;
  width: 100%;
}
#cost-card{
  grid-area: a;
}
#time-card{
  grid-area: b;
}
#flavor-card{
  grid-area: c;
}
#about div h3{
  padding-left: 20px;
  align-self:baseline;
}
#about div figure{
  background-color: cornsilk;
  height: 80%;
  width: 300px;
  align-self: center;
  
}
#about div figure img{
  width: 100%;
  height: 100%;
}
#about div p{
  width: 300px;
  align-self: end;
  padding-bottom: 1.5em;
  padding-left: 24px;
}
#brewing-variables{
  background-color: #5d1916;
  height: 95vh;
  display: none;
 
  grid-template-areas: "h"
                       "ah"
                       "a"
                       "bh"
                       "b"
                       "c"
                       "d";
}

#brewing-variables figure img{
  width: 100%;
  height: fit-content;
}
#brewing-variables h3{
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#category-header{
  grid-area: ah;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#brewing-variables #infuse-v-perc{
  background-color: #121212;
  grid-area: a;
  display: flex;
  flex-direction: row;
}
#brewing-variables #infuse-v-perc figure{
  width: 25%;
  height: fit-content;
  align-self: center;
}
#brewing-variables #infuse-v-perc p{
  width: 50%;
  align-self: center;
}
#extract-header{
  grid-area: bh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#brewing-variables #extract-overview{
  background-color: #121212;
  grid-area: b;
  display: flex;
  flex-direction: row;
}
#brewing-variables #extract-overview figure{
  width: 50%;
  height: fit-content;
  align-self: center;
}
#extract-overview figure figcaption{
  display: none;
}
#extract-p-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#brewing-variables #var-menu{
  grid-area: c;
  background-color: #5d1916;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#var-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#var-button-container button{
  width: 20%;
  background-color: #310306;
  color: cornsilk;
  height: 32px;
}
#brewing-variables #var-display{
  grid-area: d;
  height: 90vh;
}

#ingredients{
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "h h h"
                       "a b c";
}
#ingredients header{
  grid-area: h;
  display: flex;
  flex-direction: column;
}
#ingredients header h1{
  margin-top: 3em;
  font-size: 36px;
  align-self: center;
}
#ingredients header h2{
  padding-left: 3em;
  font-size: 24px;
  align-self: end;
}
#ingredients header h3{
  font-size: 6px;
  align-self: end;
}

#ingredients #whole-bean{
  background-color: #310306;
  grid-area: a;
}
#ingredients #whole-bean figure{
  margin-top: 20%;
  margin-bottom: 20%;
  
}
#ingredients #water{
  background-color: #5d1916;
  grid-area: b;
}
#ingredients #additives{
  background-color: #7c0A02;
  grid-area: c;
}
#ingredients #additives figure{
  margin-top: 24px;
  margin-bottom: 24px;
}
#ingredients div{
  display: flex;
  flex-direction: column;
}
#ingredients div h4{
  margin-top: 48px;
  font-size: 20px;
  align-self: center;
}
#ingredients div p{
  padding: 24px;
}
#method{
  background-color: #7c0A02;
  display: none;
  height: 100vh;
}
#method h1{
  font-size: 36px;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#recipe img{
  width: 200px;
  height: fit-content;
}

